/*

AUTHOR: JAKUB MATWIEJCZYK, WWWDESIGNER*/
/*WWW.WWWDESIGNER.PL

*/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:100');


html.body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    margin: auto;
}

:root {
    font-size: calc(1vw + 1vh + 1.5vmin);
}

body {
    background-color: black;
    /*background-image: url("https://images.unsplash.com/photo-1504418682362-6ad6257cb2fb?dpr=1&auto=compress,format&fit=crop&w=1350&h=&q=80&cs=tinysrgb&crop=");*/
    background-position: top;
}
img{
    position: fixed;
    left: 55%;
    top: -30%;
    transform: translate(-50%,50%);
    width: 11%;
    height: 52%;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%,50%);
    width: 100%;
    font-size: 70px;
}

.neon {
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.neon_img {
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

#logo {
    width: 5%;
    position: relative;
    z-index: +1;
    margin-left: 4.375%;
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    position: fixed;
    left: 50%;
    top: 46%;
    transform: translate(-50%,50%);
    width: 100%;
    font-size: 50px;
}
